<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="description" content="">
    <meta name="keywords" content="">
    <meta name="author" content="">
    <title>Firewall Blocked Port Scanner</title>
    <script>{{.Javascript}}</script>
    <script>
    function scan() {
      var ports = [{{range $index, $port := .Ports }}{{if (gt $index 0)}},{{end}}{{$port}}{{end}}];
      ping_all(ports);
    }
    </script>
    <style>{{.Css}}</style>
  </head>
  <body onload="scan()">
    <h1>Firewall Blocked Port Scanner</h1>
    <div id="progress">Wait for scan to complete...</div>
  </body>
</html>
