body {
  font-family: "Lucida Console", Monaco, monospace;
	text-align: center;
}

h1 {
	font-family: Impact, Charcoal, sans-serif;
}

input {
	display: block;
	border-radius: 0.5em;
	font-family: "Lucida Console", Monaco, monospace;
	font-size: medium;
	min-width: 300px;
	width: 50%;
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: auto;
	margin-right: auto;
}

.start-hidden {
	display: none;
}

#content {
	width: 50%;
	margin-left: auto;
	margin-right: auto;
}

#download-link {
	margin-top: 2em;
	margin-bottom: 2em;
}
